* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
    background-image: url('/img/imagen.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.container h2 {
    color: #004d79;
    margin-bottom: 20px;
}

.note-item {
    margin-bottom: 20px;
}

.note-item label {
    color: #58a5c4;
    display: block;
    margin-bottom: 5px;
}

.note-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #b2dfdb;
    border-radius: 5px;
}

.button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #58a5c4;
}

#notesList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#notesList li {
    background-color: #58a5c4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.bg-alert {
    background-color: #ffe4e1;
}
